.eripakkumisedtext{
    margin-top: -35px;
    margin-left: -8px;
    height: 90px;
}
.eripakkumisedtext p{
    font-family: Vapideco, Helvetica, Arial, sans-serif;
    font-weight: 800;
    font-size: 28px;
    text-align: center;
    margin-top: 75px;
}
.eripakkumised{
    background-image: url("images/bg1.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    height: 420px;
    margin-left: -10px;
    margin-right: -10px;
}
#eributton{
    width: 300px;
    margin: auto;
}
#eributton button{
    height: 45px;
    border-radius: 8px;
    font-family: "Barlow", Sans-serif, serif;
    background-color: #df002d;
    color: white;
    border: #df002d ;
    font-size: 20px;
    margin-left: 40px;
    margin-top: -30px;
}
.out {
    scale: 0.6;
    margin-right: -250px;
    margin-top: -15px;
    display: inline-block;
    width: 670px;
    height: 338px;
    overflow: hidden;
}
#out1{
    margin-left: -30px;
}
.in {
    width: 100%;
    height: 100%;
    background-position: center;
    background-size: cover;
    transition: transform ease-in 0.9s;
}
.in:hover {
    transform: scale(1.1);
    opacity: 0.8;
    transition: 1s ease-in;
}

#in1{
    background-image: url("images/student.jpg");
}
#in2{
    background-image: url("images/lunch.jpg");
}
#in3{
     background-image: url("images/new.jpg");
}
