.flip-box {
    background-color: transparent;
    width: 100%;
    height: 230px;
    border-radius: 10px;
    perspective: 1000px;
}
.flipcontainer{
    margin-top: 200px;
}

.flip-box-inner {
    position: relative;
    width: 370px;
    height: 200px;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
    display: flex;
    justify-content: center;
    align-items: center;
}

.flip-box:hover .flip-box-inner {
    transform: rotateX(180deg);
}

.flip-box-front, .flip-box-back {
    position: absolute;
    width: 370px;
    height: 200px;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.flip-box-front {
    background-color: #fff;
    color: black;
    border-radius: 30px;
}

.flip-box-front h2{
    font-family: "Barlow", Sans-serif, serif;
    font-size: 63px;
    font-weight: 400;
}

.flip-box-front img
{
    height: 50px;
    width: 50px;
}

.flip-box-back {
    background-color: #ffffff;
    color: #000;
    transform: rotateX(180deg);
    border-radius: 30px;
    padding: 25px 16px;
    text-align: center;

}

.flip-box-back p {
    font-size: 18px;
    font-weight: 300;
    line-height: 21.6px;
    margin-bottom: 6px;
}

.flip-box-back a{
    background-color: #DF002D;
    color: white;
    text-decoration: none;
    font-family: "Barlow", Sans-serif, serif;
    padding: 12px 24px;
    border-radius: 6px;
    margin:0px;
}

.wrapper {
    width: 100%;
    height: 900px;
    padding-top: 160px;
    background-image: url("images/bg1.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    clip-path: polygon(50% 5%, 100% 0, 100% 99%, 0 100%, 0 0);
}
.bg{
    background-repeat: no-repeat;
}
.bg1{
    background-image: url("images/2.png");
    background-position: -50%,0%;
    background-size: contain;
}

.bg2{
    background-image: url("images/6.png");
    background-position: -40%,0%;
    background-size: 50%;
}

.bg3{
    background-image: url("images/4.png");
    background-position: -35%,0%;
    background-size: 50%;
}

.bg4{
    background-image: url("images/3.png");
    background-position: -10%,0%;
    background-size: 35%;
}

.bg5{
    background-image: url("images/1.png");
    background-position: -20%,0%;
    background-size: 50%;
}

.bg6{
    background-image: url("images/5.png");
    background-position: -20%,0%;
    background-size: 45%;
}
.olivecontainer {
    margin-left: auto;
    margin-right: auto;
    width: 600px;
    height: 100px;
    margin-top: 20px;
    padding: 20px;
}
.olivepic1{
     display: inline-block;
     vertical-align: top;
     width: 90px;
     height: 90px;
     margin: -15px 40px 0 0;
 }
.olivetxt {
    display: inline-block;
    color: white;
    font-family: Vapideco, Helvetica, Arial, sans-serif;
}
.olivepic2{
    display: inline-block;
    width: 90px;
    height: 90px;
    margin: -120px 0 -140px 40px;
}
.partners{
    margin-right: auto;
    margin-left: auto;
    margin-top: -40px;
}
.wolt, .takevapiano{
    scale: 0.5;
    margin-right: -150px;
}
.bolt{
    margin-left: -70px;
    scale: 0.5;
}
.wolt{
    margin-left: 30px;
}
.wolt:hover, .takevapiano:hover, .bolt:hover{
    scale: 0.55;
    transition: 0.4s ease-in-out;
}
.bigolivecontainer {
    margin-left: auto;
    margin-right: auto;
    width: 600px;
    height: 340px;
}
.megaolivepic1, .megaolivepic2{
    display: inline-block;
    width: 250px;
    height: 250px;
}
.bigolivetxt {
    display: inline-block;
    color: black;
    font-family: Trattatello, serif;
    font-size: 50px;
    margin-top: -160px;
    line-height: 1.5;
    text-align: center;
}
.megaolivepic1{
    margin: -230px 180px 0 -250px;
}
.megaolivepic2{
    margin: -535px 0 -190px 600px;
}
#bigmenubtn{
    position: absolute;
    width: 280px;
    height: 115px;
    border-radius: 8px;
    font-family: "Barlow", Sans-serif, serif;
    background-color: #ffffff;
    color: #000000;
    border: #000000;
    font-size: 70px;
    font-weight: 1000;
    margin-left: 150px;
    margin-top: -50px;
    box-shadow: 3px 3px 3px #afa2a2;
}

#bigmenubtn:hover{
    scale: 1.15;
    transition: 0.5s ease-in-out;
}
