.wrapper{
    margin-top: -222px;
}
.nav-container{
    width: 100%;
    margin-left: -6px;
    padding-right: 23px;
    box-shadow: 3px 3px 5px #afa2a2;
}
.nav1 {
    width: 103%;
    height: 47px;
    margin-left: -20px;
    margin-top: -2px;
    list-style-type: none;
    overflow: hidden;
    background-color: #232222;
}

.nav1li {
    padding-right: 4px;
    float: left;
}

.nav1li a {
    display: block;
    color: #e0dddd;
    text-align: center;
    padding: 14px 17px;
    text-decoration: none;
    font-family: Vapideco, Helvetica, Arial, sans-serif;
    font-weight: 100;
    font-size: 14px;
    transition: 0s color;
}

.nav1li a:hover, .nav2li a:hover {
    color: #df002d;
    transition-delay:0.1s;
    transition-duration: 0.3s;
    transition-timing-function: ease-in-out;
}

.nav2{
    float:right;
    background-color: #ffffff;
    margin-top: -70px;
    margin-right: 60px;
    line-height: 0.1;
}

.logo img{
    float:left;
    scale: 0.5;
    margin-top: -50px;
    margin-left: -217px;
    cursor: pointer;
}

.nav2li{
    display: inline-block;
}

.nav2li a{
    padding-right: 21px;
    text-decoration: none;
    color: #232222;
    font-family: Vapideco, Helvetica, Arial, sans-serif;
    font-weight: 700;
    font-size: 18px;
}

.estonian{
    float:right;
    margin-top: -325px;
    margin-right: -205px;
    scale: 0.05;
    cursor: pointer;
}

.english{
    float:right;
    margin-top: -326px;
    margin-right: -550px;
    scale: 0.045;
    cursor: pointer;
}


