.search{
    height: 210px;
    padding: 20px 40px 40px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 60px;
    width: 1200px;
    box-shadow: -1px 1px 2px 1px #afa2a2;

}
.search img {
    width: 460px;
    height: 190px;
    margin-top: -5px;
    margin-right: -30px;
    float: right;
}
.restosearch{
     display: inline;
}
.restosearch p{
    font-size: 18px;
    margin-top: 15px;
    font-weight: 200;
}
#rsearchbtn{
    height: 45px;
    width: 180px;
    border-radius: 8px;
    font-family: "Barlow", Sans-serif, serif;
    background-color: #df002d;
    color: white;
    border: #df002d ;
    font-size: 20px;
    margin-top: 30px;
}
#followh, #followt{
    font-family: Vapideco, Helvetica, Arial, sans-serif;
    font-size: 26px;
    display: inline-block;
    margin-right: 40px;
    margin-top: 80px;
    margin-bottom: 60px;
}
#followt{
    font-weight: 500;
    margin-left: 400px;
}
#followh{
    color: #df002d;
}
